@font-face {
  font-family: 'Spirax';
  font-style: normal;
  font-weight: 400;
  src: local('Spirax-Regular'), url('http://themes.googleusercontent.com/static/fonts/spirax/v1/wiA6NnIvV_zF9oTZ_yafzA.woff') format('woff');
}

/*Keyframes*/
@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px, bottom;}
	100% {background-position: 500px 500px, 400px 400px, 300px 300px, bottom;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px, bottom}
	100% {background-position: 500px 500px, 400px 400px, 300px 300px, bottom;}
}
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px, bottom;}
	100% {background-position: 500px 500px, 400px 400px, 300px 300px, bottom;}
}

*{margin:0;padding:0;
}
html,body{height:100%;}

body{
	text-align:center;vertical-align:middle;
	/* background-color: #6b92b9;  */
	background: url('snow.png'), url('snow2.png'), url('snow3.png'), url('snow4.png')repeat-x left bottom;
	
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

h2{
	display:inline-block;
	vertical-align: bottom;
	text-align: right;
	color: #263A4E;
	font:35px 'Spirax', cursive;
	text-shadow:-2px -2px 4px #fff,2px 2px 4px #fff,2px -2px 4px #fff,-2px 2px 4px #fff;
	opacity:.5;
}
body:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	text-align: center;
	height:100%;
}